# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Virtual environment
venv/
.env/
env/
.venv/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
*.whl

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Django stuff
*.log
*.pot
*.pyc

# Local IDE configs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Temporary files
*.tmp
*.log
.DS_Store

# Specific project files
news_data.txt
